body {
    background: #21b865;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h1 {
    font-family: "Bitter", serif;
    font-weight: 600;
    font-size: 2.5rem;
}
@media (min-width: 992px) {
    h1 {
        font-size: 3.3rem;
    }
}
h2 {
    font-family: "Bitter", serif;
    font-weight: 600;
    font-size: 1.2rem;
}

h3 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

h4 {
    font-family: "Bitter", serif;
    font-weight: 600;
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
    font-weight: 300;
}

h5 a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

h5 a:hover {
    color: #fff;
    text-decoration: underline;
}

h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
}
h6 span {
    font-weight: 300;
}
p.lead {
    font-family: "Bitter", serif;
    font-weight: 500;
}
@media (max-width: 992px) {
    p.lead {
        text-align: center;
    }
}

footer {
    background: #00a25f;
}

.card {
    background: #21b865;
    border: none;
    font-size: 0.9rem;
}

h6.card-title {
	font-size:0.9rem;	
}

h6.card-title a{
	color:rgba(255,255,255,0.75);
	text-decoration:none;	
}

h6.card-title a:hover{
	color:rgba(255,255,255,1)	
	text-decoration:none;
}

p.card-text{
	font-size:0.75rem;
	letter-spacing:0.05rem;
	color:rgba(255,255,255,0.5);
}
